In [1]:
# Dependencies
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\gfg_\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

# NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

In [4]:
slides = soup.find_all('li', class_='slide')

In [5]:
# Retrieve the latest news title
news_title=soup.find_all('div', class_='content_title')[0].text
# Retrieve the latest news paragraph
news_p=soup.find_all('div', class_='article_teaser_body')[0].text
print(news_title)
print(news_p)

NASA's Perseverance Rover Mission Getting in Shape for Launch
Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.

# JPL Mars Space Images - Featured Image

In [6]:
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [7]:
html = browser.html
soup = bs(html, "html.parser")

In [8]:
img = [i.get("src") for i in soup.find_all("img", class_="headerimage fade-in")]
img[0]

'image/featured/mars2.jpg'

# Mars Facts

In [10]:
url = "https://galaxyfacts-mars.com/"
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [18]:
table = soup.find_all("table", class_="table")[0]
table
type(table)

bs4.element.Tag

In [19]:
table_header = [i.text for i in table("th")]
table_header

[' Mars - Earth Comparison',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:']

In [26]:
mars_facts = [i.text for i in table("span", class_="orange")]
mars_facts

[' Mars',
 '6,779 km',
 '6.39 × 10^23 kg ',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-87 to -5 °C']

In [29]:
table_df = {"Parameter": table_header, "Value": mars_facts}
df = pd.DataFrame(table_df)
df.set_index("Parameter", inplace=True)
df

                                     Value
Parameter
 Mars - Earth Comparison              Mars
Diameter:                         6,779 km
Mass:                     6.39 × 10^23 kg
Moons:                                   2
Distance from Sun:          227,943,824 km
Length of Year:             687 Earth days
Temperature:                  -87 to -5 °C

In [30]:
html_table = df.to_html(classes="table table-striped")
print(html_table)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Parameter</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [32]:
url = "https://marshemispheres.com/"
browser.visit(url)

In [33]:
hemisphere_image_urls = []

for i in range(4):
    html = browser.html
    soup = bs(html, "html.parser")
    
    title = soup.find_all("h3")[i].get_text()
    browser.find_by_tag('h3')[i].click()
    
    html = browser.html
    soup = bs(html, "html.parser")
    
    img_url = soup.find("img", class_="wide-image")["src"]
    
    hemisphere_image_urls.append({
        "title": title,
        "img_url": "https://marshemispheres.com/" + img_url
    })
    browser.back()